# Environments
.env
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data & Models
data/raw/
data/processed/
mlruns/
mlflow.db
.trash/

# Игнорируем только тяжелые бинарники в моделях, если они ВДРУГ не попали в LFS
# (на всякий случай, чтобы случайно не запушить 500МБ в обычный Git)
*.safetensors
*.pth
*.joblib

# Notebooks and OS artifacts
.ipynb_checkpoints/
.DS_Store
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/

# Logs
*.log
